:root {
    --background-color: #0C1424;
    --brown-color: #8C7A71;
    --blue-color: #0C1C4C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/portfolio-background.jpg");
    background-repeat: no-repeat;
    background-color: var(--background-color);
}

/* header */
.bar {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;    
    opacity: 0.8;
}
header a:hover {
    opacity: 1;
    color: white;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    padding: 30px;
    font-size: x-large;
    font-weight: bold;
}
header a {
    color: white;
    text-decoration: none;

}

/* intro */
h1, h2{
    color: white;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 100px;
    font-weight: lighter;
}
#home h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: lighter;
}
.intro {
    padding-top: 20px;
}
#home {
    margin-bottom: 600px;
    padding-top: 150px;
}

/* Over mij */
#about-me {
    margin-bottom: 500px;
    padding-top: 200px;
}
#about-me h2{
    font-size: 60px;
}
#about-me p{
    color: white;
    font-size: x-large;
}
#about-me img {
    width: 50%;
}
.selfie-container {
    display: flex;
    justify-content: center;
}

/* projects */
